.container{
    padding: 10px;
}

.checkbox-pref{
    margin: 10px;
}

.title {
    text-align: center;
    color: blue;
}

.title2{
    margin: 10px;
    padding: 5px;
    border:1px;
    border-style: solid;
    display: inline-block;
	
}